 <!-- flash message -->
<!-- for success -->
<% if(success && success.length) { %>  <!--success is a array-->
    <div class="alert alert-success alert-dismissible fade show" role="alert" col-6 offset-3><%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" ></button></div>
    <% } %>

<!-- for error -->
       
<% if(error && error.length) { %>  <!--success is a array-->
<div class="alert alert-danger alert-dismissible fade show" role="alert" col-6 offset-3><%= error %>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close" ></button></div>
<% } %>