<footer class="sticky-footer"><div class="f-info border-top ">
    
       <span class="f-info-text"> &nbsp;&nbsp;&nbsp;&nbsp;© 2024 Airbnb, Inc.&nbsp;·&nbsp;Privacy&nbsp;·&nbsp;Terms&nbsp;·&nbsp;Sitemap&nbsp;·&nbsp;Company details</span>
       <span class="f-info-socials"><i class="fa-solid fa-globe"></i> &nbsp;&nbsp;English (IN) &nbsp;&nbsp;&nbsp;&nbsp; ₹ &nbsp;INR&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-square-instagram"></i>
</div>
</footer>