 
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;;
}

.nav-link{
    color: #222222 !important;
}

.fa-globe{
    font-size: 1rem;;
}
.f-info-socials{
    font-size: 1rem;;
    font-weight: 500;
}
.f-info{
    height: 4.5rem;
    background-color:white;
    padding-left: 3rem;
    padding-right: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


body{
   
    /* margin:0!important; */
    display:flex;
    flex-direction: column;
    min-height:100vh;

}

.container{
    /* margin-left:8.5%!important; */
    /* margin-right: 5%!important; */
    flex:1;
    /* float:right; */
    flex-wrap: wrap;
} 

.row{
    padding-right: 0rem!important;
    margin-left:0rem!important;
}
/* create */
.add-btn{
    background-color: #fe424d!important;
    border:none!important;
    color:white!important;
}

/* edit */
.edit-btn{
    background-color: #fe424d!important;
    border:none!important;
    color:white!important;
}

/* show page*/
.show-img{
    height:25rem!important;
    /* width:30rem; */
}
.card-show{
    /* padding-left:1rem!important;
    padding-right:1rem!important; */
    border:none !important;
}
.btns{
    display:flex!important;

}
.btn-show{
    background-color: #fe424d!important;
    border:none!important;
    color:white!important;
    display:inline-block!important;
}

/* cards */
.listing-card{
    margin-top: 1rem;;
    border: none!important ; 
    padding: 0rem!important ; ;
    /* background-color: aqua; */
    /* margin-left:0rem!important;
    margin-right: 0rem!important; */
}

/* for responsiveness */
@media  (min-width: 200px) and (max-width: 450px)
{
    #filters{
      display: none;
    }
    .f-info{
        /* height:10rem; */
        display: flex;
        flex-wrap: wrap;
        display:block;
        padding: 0rem 1rem 0rem 1rem;
    }
    .f-info-socials{
        font-size: 1.25rem;
    }
}
    .container-fluid{
       background-color: white;
    }
   .nav-link{
        border-bottom:1px solid rgb(216, 216, 216);
    }

.card-img-top{
    border-radius: 1.2rem!important;
    width: 100% !important;
    object-fit: cover !important;
 
}
.card-body{
    border:none!important ; 
    /* padding-bottom: 1rem !important; */

}

.card-text p{
    /* padding-top: 1rem; */
  font-weight: 400;
}


.listing-link{
    text-decoration:none;
    padding-right: 0rem!important;
}

.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;;
}
